:root {
  --dark: #36393e;
  --orange: #da7f4b;
  --blue: #00adb5;
  --soft-dark: #4f5153;
  --white: #eeeeee;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--soft-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark);
  overflow-y: scroll;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.bar {
  width: 50px;
  /* height: 100px; */
  background: var(--orange);
  margin: 0 2px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  transform-origin: bottom center;
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 1rem 0;
  transition: all 250ms ease;
  font-size: 1.8rem;
  border-radius: 5px;
}
