.container {
  /* display: flex; */
  width: 100%;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  /* overflow: scroll; */
}

.algo-info {
  /* border: 1px solid red; */
  height: 100px;
  margin-bottom: 2rem;
  max-width: 900px;
  width: auto;
  margin: auto;
  margin-top: 2rem;
}

.visualization {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid red; */
}

.pseudo-code-container {
  width: 30%;
  /* max-height: 200px; */
  /* border: 1px solid red; */
  color: var(--white);
  font-size: 1.8rem;
  text-align: left;
}

.pseudo-code-container .checking {
  height: 100px;
  background: var(--soft-dark);
  margin-bottom: 2rem;
  border-radius: 5px;
}

.pseudo-code-container .pseudo-code {
  background: var(--soft-dark);
  height: auto;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.pseudo-code-container .pseudo-code > p {
  padding: 0.5rem 0;
}

.array-list {
  display: flex;
  /* margin-top: 50px; */
  width: 60%;
  /* justify-content: center; */
  align-items: flex-end;
  position: relative;
  /* border: 1px solid red; */
  height: 70vh;
  /* margin: auto; */
  /* overflow-x: hidden; */
  /* border: 1px solid red; */
}

.bars-container {
  position: absolute;
  left: 50%;

  margin: auto;

  display: flex;

  align-items: flex-end;
}

.algo-info {
  color: var(--white);
  font-size: 1.4rem;
}

.algo-info .text {
  margin-top: 1rem;
}

.indent-0 {
  padding-left: 0 !important;
}

.indent-1 {
  padding-left: 2rem !important;
}

.indent-2 {
  padding-left: 4rem !important;
}
.indent-3 {
  padding-left: 6rem !important;
}
